<!doctype html>
<html lang="ar">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    .header {
      margin-top: 10px;
      margin-bottom: 0pt;
      line-height: normal;
      font-size: 11pt;
    }

    html,
    body {
      height: 100%;
      margin: 0;
    }

    .container {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 1fr;
    }

    .pagebreak {
      display: block;
      clear: both;
      page-break-after: always;
    }

    .footer {
      text-align: center;
      font-size: 5pt;
    }

    .page1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      padding-top: 0;
      direction: rtl;
      font-size: 6pt;
    }

    .page2 {
      display: grid;
      padding: 10px;
      padding-top: 0;
      font-size: 5.5pt;
      direction: rtl;
    }

    .box {
      border: 1px solid black;
      border-bottom: none;
    }

    span {
      font-family: "Tajawal";
    }

    .paragraph_title {
      margin-bottom: 0pt;
      line-height: normal;
      font-weight: bold;
      text-decoration: underline;
    }

    .paragraph_1 {
      margin-bottom: 0pt;
      line-height: normal;
      font-size: 6pt;
    }

    .paragraph_2 {
      text-align: center;
      line-height: normal;
      font-size: 8pt;
    }

    .paragraph_3 {
      margin-bottom: 0pt;
      line-height: normal;
      font-size: 6pt;
    }

    .paragraph_large {
      margin-bottom: 0pt;
      text-align: justify;
      line-height: normal;
    }

    .title {
      margin-bottom: 0pt;
      line-height: normal;
      font-size: 9pt;
    }

    .logo {
      margin-bottom: 0pt;
      text-align: center;
      line-height: normal;
      padding-bottom: 1pt;
      margin-top: 5px;
      font-size: 24pt;
    }

    .bold-text {
      font-weight: bold;
    }

    .text-center {
      text-align: center;
    }

    .middle {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      text-align: center;
      border: 1px solid black;
      background-color: white;
    }

    .signature-panel {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 10px;
      padding-right: 10px;
      direction: rtl;
      border: 1px solid black;
      background-color: white;
      width: 50%;

      margin: auto;
      margin-top: 10px;
    }

    .signature-section {
      font-size: 6pt;
    }

    .border-left {
      border-left: 1px solid black;
    }

    .signature-title {
      border-bottom: 1px solid black;
      text-align: center;
      font-size : 6pt;
    }

    .table-container {
      text-align: center;
      border: 1px solid black;
      border-top: none;
      background-color: white;
      grid-column: 1 / 3;
      /* Span the table across both columns */
      display: flex;
      justify-content: center;
      /* Center horizontally */
    }

    .border-bottom {
      border-bottom: 1px solid black;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .table-signature-panel {
      width: 30%;
      border: 1px solid black;
      border-bottom: none;
    }
  </style>
  <title>contract</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <p class="logo">
        <strong><span style="font-family: Franklin Gothic Demi; color: orange">B.TECH </span></strong><strong><span
            style="font-family: Franklin Gothic Demi">Finance</span></strong><strong><span
            style="font-family: Franklin Gothic Demi; font-size: 22pt"> </span></strong><strong><span
            style="font-size: 14pt">S.A.E</span></strong>
      </p>
    </header>
    <main class="page1">
      <div class="box box1">
        <div style="padding: 10px; padding-top: 0px">
          <p class="paragraph_3">
            <span>شركه بي تك للتمويل ش.م.م</span><br />
            <span>ترخيص الهيئة العامة للرقابة المالية رقم (٤٨)</span><br />
            <span>بتاريخ ١٩ / ٥ / ٢٠٢٤</span>
          </p>
          <p class="paragraph_2">
            <strong><span>إتفاقية تمويل استهلاكي <br />بنظام المرابحة ومرابحة الخدمات <br />(وفقا ألحكام القانون رقم ٤٨
                لسنه
                ٢٠٢٠ بشأن نشاط التمويل الاستهلاكي)</span></strong>
          </p>
          <p class="paragraph_1">
            <span>إنه في يوم <%=day_name || ".........." %> الموافق </span>
            <span>
              <%=date || "..... / ..... / ................" %>
            </span> <br /><span> حرر هذا العقد بمدينة </span>
            <span>
              <%=city || "..............." %> بين كلا من :
            </span>
            <strong> <br /><span>أولا: شركه بي تك للتمويل ش.م.م– </span></strong>
            <span>ششركة مساهمة مصرية – مقيدة بالسجل التجارى استثمار القاهرة تحت رقم 33300 والكائن مقرها قطعة رقم N2
              الدور
              الأول بالبرج رقم (O215) تقسيم الاستثمار بمنطقة القطامية مشروع وان قطامية – القاهرة ، والمرخص لها بمزاولة
              نشاط التمويل الاستهلاكي تحت رقم (48) بالهيئة العامة للرقابة المالية ويمثلها في هذا العقد السيد/
              ...........................، بصفته ............. بتفويض من المدير التنفيذى (المفوض من مجلس الإدارة) وذلك
              بالقرار الإدارى رقم .........بتاريخ ....................
            </span>
          </p>

          <p style="margin-bottom: 0pt; text-align: left; line-height: normal; font-size: 7pt">
            <strong><span>"ويشار إليها فيما بعد بالطرف الأول – الشركة" </span></strong>
          </p>
          <p class="paragraph_1">
            <strong><span>ثانيا: السيد(ة)
                <span>/ <%=full_name || "....................................................." %>.</span>
                ويحمل بطاقة رقم قومي
                <span>/ <%=national_id || ".............................." %></span>
                المقيم في
                <span>/ <%=address || "..................................................... " %>.</span>
                المهنة
                <span>/ <%=job_name || "....................................." %>.</span> والكائن مقرة بالعنوان التالى :
                <span>/ <%=company_address || "....................................................." %>.</span>
              </span>
            </strong>
          </p>

          <p style="margin-bottom: 0pt; text-align: left; line-height: normal; font-size: 7pt">
            <strong><span>"ويشار إليه فيما بعد بالطرف الثاني – العميل" </span></strong>
          </p>
          <p style="margin-bottom: 0pt; text-align: center; line-height: normal; font-size: 7pt">
            <strong><u><span>التمــــــــــــهيد</span></u></strong>
          </p>
          <p style="
                margin-right: 18pt;
                margin-bottom: 0pt;
                text-indent: -18pt;
                text-align: justify;
                line-height: normal;
                font-size: 6pt;
              ">
            <span>- قبل توقيع واستعمال خدمات تمويل بي تك للتمويل يرجى قراءة هذه الاتفاقية الإطارية للتمويل الإسلامي
              بصيغتي المرابحة ومرابحة الخدمات الموصوفة في الذمة والملاحق الخاصة بهما بعناية. </span>.
          </p>
          <p style="margin-bottom: 0pt; text-align: justify; line-height: normal; font-size: 7pt">
            <span>
              - تعد أحكام القانون رقم 18 لسنة 2020 والقرارات الصادرة من الهيئة العامة للرقابة المالية تنفيذاً أو تفسيرا
              له جزءاً متمماً ومكملاً لهذه الاتفاقية، وتسري أحكامهما فيما لم يرد في شأنه نص خاص فيه، كما يكون للقانون
              والقرارات الصادرة من الهيئة أولوية في التطبيق عند التعارض مع غيرها في الشروط التعاقدية، وتعد كافة ملاحق
              هذه الاتفاقية وأقسامه، وكذا المخاطبات الرسمية والوسائط الالكترونية بين الطرفين جزءاً لا يتجزأ من هذه
              الاتفاقية وشرطاً من شروطها المكملة والمتممة لها وبما لا يخالف أحكام الشريعة الإسلامية. </span><br />
            <span>- اتفق الطرفين أن قيام العميل بإجراء أي عملية شراء للسلع والخدمات (سواء كان كتابةً أو عبر منصة الشركة
              أو بطاقة الدفع أو رسالة نصية أو أي وسيلة اتصال معتمدة من الشركة) من أحد مقدمي السلع والخدمات المعتمدين لدى
              الشركة يعد قبولاً من العميل على ايجاب الشركة وينعقد العقد (المرابحة السلع أو مرابحة الخدمات) بتبادل
              الايجاب والقبول ويترتب عليه آثاره شرعاً وقانوناً</span><br />
            <span>وبعد أن أقر الطرفين بكامل الأهلية القانونية للتعاقد والتصرف، تم الاتفاق على ما يلي:</span>
          </p>
          <p style="margin-bottom: 0pt; text-align: center; line-height: normal; font-size: 7pt">
            <strong><u><span>البند الأول: التعريفات </span></u></strong>
          </p>
          <p class="paragraph_large">
            <span>يكون للكلمات والعبارات التالية المعاني المذكورة قرين كل منها:
              <span><br />⦁ تعريف الشركة (الطرف الأول): شركة بي تك للتمويل هي شركة مساهمة مصرية تقدم خدماتها داخل
                جمهورية مصر العربية بترخيص رقم 48 بتاريخ 15/9/2024 من الهيئة العامة للرقابة المالية، وتقوم بنشاط التمويل
                الاستهلاكي لعملائها وذلك لأغراض الشراء بالتقسيط من خلال الغير وتتمتع بقاعدة عريضة من العملاء المتعاملين
                معها. </span>
              <span><br />⦁ لعميل: الطرف الثاني لهذا الاتفاقية ومشتري السلعة و/ أو متلقي الخدمة. </span>
              <span><br />⦁ الهيئة: الهيئة العامة للرقابة المالية. </span>
              <span>
                <br />⦁ القانون: القانون رقم 18 لسنة 2020 ولائحته التنفيذية، وقرارات مجلس إدارة الهيئة تنفيذاً أو
                تفسيراً له.
              </span>
              <span><br />⦁ شبكة مقدمي السلع والخدمات: بائعي ومقدمي السلع والخدمات المتعاقد معهم بتوفير السلع والخدمات
                الجائز تمويلها شرعَا ووفقا ألحكام القانون.</span><span> <br />⦁ مقدم الخدمة: هو مقدم الخدمات المتعاقد
                عليها إلي العميل مبارشة بناءًا علي طلبه.</span><span>
                <br />⦁ الخدمة: هي الخدمات المختلفة التي يحصل عليها متلقي الخدمة مثل الخدمات الطبية أو تعليمية أو
                السفر والسياحة أو الحج والعمرة .. وغيرها. </span><span><br />⦁ التطبيق الالكتروني: وهو المنصة
                الالكترونية الخاصة بالطرف الأول والتي يتم من خلاله استخدام خدمات الطرف الأول. </span><span><br />⦁ مكان
                أداء الخدمة: هو المكان الذي تؤدى فيه الخدمة والمحدد بمعرفة
                مقدم الخدمة. </span><span><br />⦁ مدة الخدمة: هي فرتة أداء الخدمة المتفق عليها بين مقدم الخدمة ومتلقي
                الخدمة. </span>
            </span>
            <span><br />⦁ تاريخ أداء الخدمة: هو الوقت المحدد الذي تؤدى (تسلم) فيه الخدمة. </span>
          </p>
        </div>
      </div>
      <div class="box box2">
        <div style="padding: 10px; padding-top: 0px">
          <p>
            <span><br />⦁تعريف المرابحة: هي عقد بمقتضاه تقوم شركة بي تك بشراء السلع من المورّدين وإعادة بيعها الى
              المستهلكين حسب النوع والمواصفات والكميات التي يحددونها من المتاجر والاماكن المعتمدة من شركة بي تك ويتم
              سداد الثمن مقسطاً لشركة بي تك على آجال متفق عليها بين الطرفين أو على قسط واحد في نهاية مدة المرابحة.
            </span>
            <span><br />⦁ تعريف مرابحة الخدمات: هي عقد بمقتضاه تقوم الشركة بالتعاقد مع مقدمي الخدمات على شراء خدمة، ثم
              تقوم بتفويض مقدم الخدمة بتقديم الخدمة المتعاقد عليها إلي العميل مباشرة بناءاً على طلبه ويكون ثمن الخدمة
              بمثل الثمن الذي اشترتها به الشركة مضافاً إلية كل ما تحمله مقدم الخدمة من مصروفات مباشرة تخص الخدمة مع
              زيادة ربح معلوم متفق عليه بنسبة مئوية أو بمبلغ مقطوع من إجمالي تكلفة الخدمة (تحديد تكلفة الشراء وثمن
              البيع). </span>
          </p>
          <div class="paragraph_title text-center">
            <p><span>البند الثاني: موضوع الاتفاقية</span></p>
          </div>

          <p class="paragraph_large">
            <span>تقوم الشركة بتوفير التمويل اللازم لشراء السلع الاستهلاكية وتقديم الخدمات طبقاً لمبادئ وأحكام الشريعة
              الإسلامية والجائز تمويلها وفقاً لأحكام قانون التمويل الاستهلاكي والقرارات الصادرة من الهيئة وذلك بناء
              على طلب العميل</span>.
          </p>
          <div class="paragraph_title text-center">
            <p><span>البند الثالث: شبكة مقدمي السلع والخدمات</span></p>
          </div>

          <p class="paragraph_large">
            <span>
              يقوم الطرف الأول بتحديث قائمة تجار السلع/ الخدمات المدرج أسمائهم على موقع الشركة وقد تتغير تلك القائمة من
              حين لأخر ويستطيع الطرف الثاني معرفة آخر تحديث من خلال المنصة أو خدمة العملاء أو الموقع الإلكتروني أو مواقع
              التواصل الاجتماعي أو الرسائل النصية التي يتم إرسالها من الشركة. </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند الرابع: قيمة التمويل وسعر العائد وطرق السداد</span></p>
          </div>
          <p class="paragraph_large">
            <span>1) تفوض الشركة المورد/التاجر/مقدم الخدمة في تسليم السلعة /الخدمة إلى العميل وإصدار الفاتورة باسمه
              مباشرة.
              <br />2) الحد الاقصي للسلع والخدمات/ الممولة من الشركة للعميل هو بمبلغ/ 
              <span><%=credit_limit?credit_limit+" ("+credit_limit_arabic_text+" جنيهًا مصريًا فقط لاغير)" : "جنيهًا مصريًا فقط لاغير........................." %></span>  ومعدل الربح متوسط (%٤٠) علي أساس سنوي
              (متغير).
              <br />3)يتعهد الطرف الثاني بشراء السلعة / الخدمة التي يقوم بشرائها أو التعاقد عليها نيابة عن الطرف الأول،
              حيث يقوم بشرائها بالتكلفة بالإضافة للربح المتفق عليه في اتفاقية التمويل الإسلامي. <br />
              4) يلتزم الطرف الأول بموافاة الطرف الثاني (العميل) ببيان موضحاً به تكلفة البضاعة أو الخدمة وسعر البيع وعدد
              الأقساط وقيمة كل قسط وموعد استحقاقه وذلك من خلال احدى طرق الاتصال المعتمدة لدى الطرف الأول. كما يقر الطرف
              الثاني بأن تفاصيل التمويل الواردة في التطبيق الالكتروني والتي تتضمن بيان السلع والخدمات محل التمويل ومبلع
              التمويل والعائد وعدد الأقساط ومدة السداد وأي تعديلات عليها تتم بموافقة الطرفين وقت منح كل تمويل كلها صحيحة
              ومنتجة لآثارها وتعد جزأً لا يتجزأ من هذه الاتفاقية. <br />5)يتعهد الطرف الثاني بقبول طلب الطرف الأول
              والمرسل عن طريق المنصة أو رسائل الموبايل يطلب فيه بيع السلعة / الخدمة التي اشتراها أو طلبها الطرف الثاني
              من شبكة مقدمي السلع والخدمات، ويعد ذلك قبولاً من الطرف الثاني لإيجاب الطرف الأول لشراء السلعة / الخدمة
              والذي يتم اخباره بذلك مباشرة عن طريق المنصة أو رسائل الموبايل، وبذلك تبدأ عملية التمويل بالمرابحة للسلع أو
              المرابحة الخدمات. <br />6)ويعد ادخال العميل لل OTP المرسل من الشركة رداٌ منه بالموافقة وقبولاً لإيجاب
              الشركة، واقراراً منه باستلام السلعة مطابقة للمواصفات. <br />7) يلتزم العميل بسداد أقساط التمويل في
              المواعيد المتفق عليها للشركة من خلال إحدى وسائل الدفع المتبعة في الشركة أو من خلال بطاقات المدفوعات
              التجارية أو إحدى وسائل الدفع التي يقرها البنك المركزي وتقبلها الشركة. </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند الخامس: مدة الاتفاقية</span></p>
          </div>
          <p class="paragraph_large">
            <span>1) مدة هذه الاتفاقية سنة مالية تبدأ من تاريخ توقيعها وتجدد لمدة أو مدد مماثلة، ما لم يخطر أحد الطرفين
              الطرف الآخر برغبته في عدم التجديد قبل شهر من انتهاء المدة الجارية. </span><span>
              <br />2) في جميع الأحوال لا يتم إنهاء التعاقد إلا بعد تسوية المديونية المترتبة على العميل، وتلتزم الشركة
              في حالة طلب العميل بتسليم العميل مخالصة نهائية تفيد سداده لكافة المستحقات المالية المترتبة عليه بعد توقيع
              العميل علي نموذج طلب مخالصة نهائية. </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند السادس: السداد المعجل</span></p>
          </div>
          <p class="paragraph_large">
            <span>يحق للعميل تعجيل الوفاء بكل أو بعض أقساط التمويل من تاريخ استحقاق ثاني قسط شريطة إبداء تلك الرغبة
              كتابة قبل ميعاد السداد المستهدف بمدة لا تقل عن ثلاثين يوماً على أن يتم سداد رصيد المديونية وفقاً لجدول
              السداد المبكر المعتمد ضمن السياسة الداخلية للشركة في هذا الشأن. </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند السابع: التزامات العميل </span></p>
          </div>
          <p class="paragraph_large">
            <span>1) يتعهد العميل بالتقدم بطلب التمويل الاستهلاكي من خلال ممثل الشركة باسمه ويتم تعزيز البيانات المقدمة
              والمعلومات الواردة بطلب التمويل الاستهلاكي / الخدمة والذي يعتبر جزء لا يتجزأ من هذه الاتفاقية وأنها حقيقية
              وصحيحة. </span><span>
              <br />2) يقر ويلتزم العميل باستخدامه الشخصي للتمويل وعدم السماح للغير باستخدامه أو التحويل أو التنازل
              للغير وعند المخالفة يتحمل كافة النتائج المترتبة عن كافة المعاملات التي تتم من الغير ويكون ملتزماً بسداد
              قيمة الاقساط الناشئة عن تلك المعاملات مع عدم الإخلال في حق الشركة في اتخاذ كافة الاجراءات المقررة قانونا
              وًيكون العميل مسؤولا مسئولية مطلقة غير مشروطة عن كافة المصاريف الإدارية والالتزامات المترتبة على استعمال
              تطبيق التمويل الاستهلاكي وكذلك النتائج المترتبة على إساءة الاستعمال أو فقد الهاتف المحمول الخاص بالعميل. .
            </span><span>
              <br />3) يقر العميل بأنه قد عاين السلع أو الخدمات محل التمويل معاينة نافية للجهالة وقبلها، إذ أن العميل قد
              قام باستلام السلع أو الخدمات الجائز تمويلها شرعاَ والمفوض باستلامها ووفقا لأحكام القانون من شبكة مقدمي
              السلع و الخدمات المتعاقد معها وعليه، فإن أي نزاع حول مواصفات المنتج وجودته واستبداله واسترجاعه وصيانته
              وغير ذلك من خلافات متعلقة بالمنتج أو السلعة أو الخدمة ذاتها أو تسليمها وصيانتها أو ما شابها من عيوب
              الصناعة أو العيوب الخفية يكون مسئولية العميل ويمكنه مراجعة التاجر أو مقدم الخدمة في حال وجود أي نزاع..
            </span>
          </p>
        </div>
      </div>
      <div></div>
      <div class="table-container border-bottom">
        <div class="table-signature-panel">
          <div class="signature-title"><span>توقيع الطرف الثاني</span></div>
          <br /><br />
          <br />
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-content">
        <span> Plot No. (N2), Tower No. (O215), One Kattmeya, Ring Road, Kattmeya, Cairo.</span>
      </div>
    </footer>
  </div>
  <div class="pagebreak"></div>
  <div class="container">
    <header class="header">
      <p class="logo">
        <strong><span style="font-family: Franklin Gothic Demi; color: orange">B.TECH </span></strong><strong><span
            style="font-family: Franklin Gothic Demi">Finance</span></strong><strong><span
            style="font-family: Franklin Gothic Demi; font-size: 22pt"> </span></strong><strong><span
            style="font-size: 14pt">S.A.E</span></strong>
      </p>
    </header>
    <main class="page2">
      <div class="box border-bottom">
        <div style="padding: 10px; padding-top: 0px">
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند الثامن: طريقة السداد وغرامة الضرر</span></p>
          </div>
          <p class="paragraph_large">
            <span>
              1) يلتزم العميل بسداد الأقساط في التواريخ المحدد المتفق عليها حسب بنود هذه الاتفاقية وجدول سداد الأقساط
              المرسل له. </span><span><br />2) اتفق الطرفان على أنه في حالة تأخر العميل عن سداد قيمة الاقساط يتبع الآتي:
            </span><span><br />
              &nbsp; - يمنح العميل مدة خمسة أيام "فتره سماح" لإمكانية سداد القسط المتأخر ويتم احتسابها بدءاً من اليوم
              التالي لتاريخ استحقاق القسط. </span><span><br />
              &nbsp; - إذا لم يقم العميل بالسداد خلال المدة المشار إليها أعلاه، يلتزم العميل في اليوم الثامن من تاريخ
              استحقاق القسط أي بعد انتهاء فترة السماح بسداد قيمة الضرر الفعلي من قيمة القسط المتأخر تحسب شهرياً (بحد
              أدنى 100جم) وذلك دون إخطار أو إنذار مع تحميل العميل كافة المصروفات التي تتكبدها الشركة حتى تمام السداد،
              وتوجه غرامة الضرر هذه للخيرات بعد خصم المصروفات. </span><span><br />
              &nbsp; - في حالة تأخر العميل عن سداد قسطين من الأقساط المستحقة عليه يجوز للشركة مطالبة العميل متي ثبت لها
              ملاءته بحلول كافة الأقساط المستقبلية ويتم مطالبة العميل بسداد كامل المديونية. </span><span><br />3) في
              حالة اختيار السداد من المنزل:

              - يضاف مبلغ ... جم كمصاريف تحصيل عن كل قسط. </span><span><br />4)تعتبر القيمة الكلية للسلع أو الخدمات دين
              امتياز للشركة في حالة الإعسار أو الوفاة. </span><span><br />5) يحق للعميل أن يستبدل أو يعيد السلعة التي
              قام بشرائها لمقدم السلعة إذا كانت معيبة وذلك في حدود سياسة الاسترجاع المعلنة والضمانات وخدمات ما بعد البيع
              المعتمدة من مقدم السلعة/الخدمة.
            </span><span><br />6)تحتفظ الشركة بحقها من وقت لآخر في تعديل أسعار المصاريف والعوائد المطبقة على تقديم
              الخدمة، على أن يكون سريان تعديل الأسعار على عمليات التمويل اللاحقة له فقط وبشرط إخطار العميل بالتعديل بأية
              وسيلة من الوسائل التي تستخدمها الشركة على سبيل المثال لا الحصر (رسائل البريد الالكتروني / رسائل الهاتف
              المحمول / ............. الخ) شريطة أن يتصل علمه بذلك التعديل.
            </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند التاسع: السرية</span></p>
          </div>

          <p class="paragraph_large">
            <span>
              1) تلتزم الشركة باحترام السرية لكامل تعاملات العميل، وفقاً لتعليمات هيئة الرقابة المالية والبنك المركزي،
              ويقر ويفوض العميل بالموافقة على أن تقوم الشركة بالإفصاح عن المعلومات والبيانات المتعلقة به أو بالتمويل
              الممنوح أو الالتزامات المتعلقة به أو عن أي إخلال بالالتزامات إلى الشركة المصرية للاستعلام الائتماني (أي
              سكور) أو للهيئة العامة للرقابة المالية أو أي جهة رقابية أخرى. </span><span><br />2) يفوض العميل الشركة في
              الاتصال بأي شخص أو هيئة بما في ذلك على سبيل المثال وليس الحصر محل عمله وأقامته والبنوك والمؤسسات التي
              يتعامل معها بغرض التحقق من صحة البيانات والمعلومات والاستعلام الائتماني عن العميل من كافة الجهات الحكومية
              وغير حكومية وشركة الاستعلام الائتماني ("I Score") والاستعلام عنه لتحصيل أقساط التمويل وفقا لما تراه
              مناسباً دون أن يكون له الحق في الرجوع عليها بادعاء إفشاء السرية.
            </span><span>
              <br />3) يلتزم العميل بالإفصاح للشركة عن بيانات دخله وأية ضمانات قد تكون متطلبة لإبرام عقد التمويل.
            </span><span>
              <br />4) يقر العميل بالموافقة على أن تقوم شركة أي سكور باستخدام هذه المعلومات والبيانات بالطريقة التي
              تناسبها وأن تقوم بتزويدها للغير طبقاً لتعليمات الهيئة العامة للرقابة المالية والبنك المركزي.
            </span><span><br />5)يقر العميل بصحة البيانات المدونة منه وبصحة ما جاء في طلب التمويل الاستهلاكي. </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند العاشر: المراسلات والإنذارات والإعلانات</span></p>
          </div>
          <p class="paragraph_large">
            <span> </span><span>1) العناوين الواردة قرين مسمى كل طرف في صدر هذه الاتفاقية موطناً يصح قانوناَ مخاطبته
              عليه، ومن ثم كافة الإعلانات القضائية والمراسلات والإنذارات والإخطارات التي تتم عليها صحيحة ومنتجة لآثارها
              القانونية ويلتزم كلا من الطرفين في حالة حدوث أي تغيير عليها بإخطار الطرف الأخر كتابة.
            </span><span><br />2) ومن المعلوم أن أرقام التليفون والواتس آب وعناوين البريد الإلكتروني والوارد النص عليها
              في نموذج بيانات العميل المرفق بهذه الاتفاقية موثقة لدى الشركة ومن ثم يحق للشركة أن ترسل عليها كافة الرسائل
              الترويجية وإشعارات التنفيذ والإخطارات التي تتم وفقاً لهذه الاتفاقية، ويلتزم العميل في حالة حدوث أي تغيير
              عليها بإخطار الشركة كتابة. </span><span><br />3) يوافق العميل موافقة صريحة غير مشروطة على التعامل من خلال
              الوسائط الالكترونية بما فيها التطبيق الالكتروني ورسائل البريد الالكتروني ويقر بأنها تكون صحيحة ومنتجة
              الأثر وكذا أية تفاصيل حسابية متعلقة بعمليات التمويل الخاصة بالعميل متي كانت مطبوعة وممهورة بخاتم الشركة
            </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند الحادي عشر: ضمانات التمويل</span></p>
          </div>
          <p class="paragraph_large">
            <span> </span><span>1) يجوز للشركة شهر الحقوق المنشأة لصالحها بموجب هذه الاتفاقية على المنقولات محل التمويل
              بسجل الضمانات المنقولة المنشأ وفقا الأحكام قانون تنظيم الضمانات المنقولة الصادر بالقانون رقم 115 لسنه 2015
              على أن يتحمل تكلفة الشهر الطرف الأول من هذه الاتفاقية. </span><span><br />2) يحظر على العميل التصرف بالبيع
              في المنقولات المشهرة إلا بعد الرجوع للشركة ويتم سداد باقي المستحقات.
              المستحقات. </span><span><br />3) للشركة ان تطلب من العميل تحرير أي من الضمانات الكافية للأقساط مستحقة
              الأداء ومقسمة على مدار مدة الاتفاقية، ويتم تسليم العميل مخالصة نهائية بقيمة الطلب ورقمه بعد سداد كامل مبلغ
              التمويل ولا يحق للشركة المطالبة بها مرة أخرى وتعد لا غيه لأي ضمانات موقعة من العميل.
            </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند الثاني عشر: إحالة حقوق محفظة التمويل</span></p>
          </div>
          <p class="paragraph_large">
            <span>من المتفق عليه بين الطرفين، أن الشركة يحق لها إحالة حقوق محفظة ديونها لدي الغير وفقاً لأحكام القوانين
              والقرارات الصادرة من مجلس إدارة الهيئة وبالطرق الموافقة للأحكام الشرعية وذلك دون معارضه من العميل ويحق لها
              الإفصاح للجهة المحال اليها عن اسم العميل المدين بالحقوق التي تم بيعها أو حوالتها وبالضمان المقدم منه وبما
              قام بالوفاء به من أقساط وتواريخ الأقساط وحالات الامتناع عن السداد ويعد توقيع العميل علي اتفاقية التمويل أو
              أثبات بياناته علي تطبيق التمويل الاستهلاكي أو تسجيل عملية التمويل الكترونياً قبولا منه بقيام الشركة حوالة
              تلك الحقوق أو جزء منها الي أي جهة ولا يقتصر علي البنوك وشركات التمويل وإعادة التمويل والتخصيم والتوريق في
              ضوء المسموح به شرعا وقانونا .
            </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند الثالث عشر: القانون الواجب تطبيقه وتسوية المنازعات</span>
            </p>
          </div>
          <p class="paragraph_large">
            <span>يخضع هذا العقد لأحكام القوانين المعمول بها في جمهورية مصر العربية والقرارات المنفذة لهذه القوانين
              لاسيما القانون رقم 18 لسنة 2020 بإصدار قانون تنظيم نشاط التمويل الاستهلاكي وكذلك القرارات والكتب الدورية
              والتعليمات الصادرة من الهيئة العامة للرقابة المالية وقانون 131 لسنة 1948 بإصدار القانون المدني و القانون
              رقم 115 لسنة 2015 بإصدار قانون الضمانات المنقولة وتختص المحاكم الاقتصادية الكائن بدائرتها المركز الرئيسي
              للشركة بالفصل في أي نزاع ينشأ عن تفسير أو تطبيق أو تنفيذ أحكام هذه الاتفاقية أو أحد بنودها ، ويتحمل العميل
              وحده تكلفه المصروفات القضائية واتعاب المحاماه وفقا لمستوى الاجراء ونوع النزاع ودرجته حال خسارته اياه وصدور
              الحكم لصالح الشركة. </span>
          </p>
          <div class="paragraph_title text-center">
            <p class="paragraph_title text-center"><span>البند الرابع عشر: نسخ الاتفاقية</span></p>
          </div>
          <p class="paragraph_large">
            <span>
              حررت هذه الاتفاقية من نسختين، وتشتمل على البند التمهيدي وأربعة عشر بنداُ (بما فيها هذا البند) وعدد 3
              صفحات، وتم تسليم العميل نسخة موقعه أو بيان بشروط التمويل
            </span>
          </p>
          <p class="paragraph_title text-center"><span>إقرار موظف الجهة:</span></p>
          <div class="signature-panel">
            <div class="signature-section border-left">
              <div class="signature-title">
                <span>توقيع الطرف الثاني</span>
              </div>
              <div class="paragraph_title">
                <p><span>شركة بي تك للتمويل ش.م.م</span></p>
              </div>
              <p><span>المفوض بالتوقيع/__________________________</span></p>
              <p><span>التوقيع/ _______________________________</span></p>
            </div>
            <div class="signature-section">
              <div class="signature-title">
                <span>توقيع الطرف الثاني</span>
              </div>
              <div class="paragraph_title">
                <p><span>الطرف الثاني</span></p>
              </div>
              <p>
                <span>الاسم/ <%=full_name ||"_______________________________"%></span>
                <br /><span>التوقيع/ ______________________________</span> <br /><span>تحقيق الشخصية/ <%=national_id
                    || "_______________________________" %></span>
                <br /><span>التاريخ: <%=date || "___ / ___ / ______" %> </span>
              </p>
            </div>
          </div>
          <div style="font-size: 6pt">
            <p><strong><span>تم توقيع العميل أمامي وبمعرفتي بعد الاطلاع والتحقيق من شخصيته.</span></strong></p>
            <p class="text-center">
              <span>اسم الموظف
                /......................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span>توقيع الموظف /.........................................</span>
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-content">
        <span> Plot No. (N2), Tower No. (O215), One Kattmeya, Ring Road, Kattmeya, Cairo.</span>
      </div>
    </footer>
  </div>
</body>

</html>