<div class="col-12 col-md-10">
  <div class="row">
    <div class="col-12">
      <div class="main-title">
        <div class="subtitle-wrapper">
          <div class="subtitle">
            <i class="icon-manage_accounts"></i>
          </div>
          <div class="title">إدارة الموظفين</div>
        </div>
        <div class="title-wrapper">
          <div class="title">قائمة الموظفين</div>
          <button class="btn secondary-btn" onclick="showEmployeeForm()"><span class="icon">+</span><span>إضافة
               موظف</span></button>
        </div>
      </div>
    </div>
  </div>
  <% if (employees.length> 0) { %>

  <div class="row">
    <div class="table-responsive">
      <table class="table listing-table">
        <thead>
          <tr>
            <th scope="col">الوقت والتاريخ</th>
            <th scope="col">دور الموظف</th>
            <th scope="col">الاسم</th>
            <th scope="col">رقم الموبايل</th>
            <th scope="col">البريد الإلكتروني</th>
            <th scope="col">الفرع</th>
            <th scope="col">الحالة</th>
          </tr>
        </thead>
        <tbody>
          <% employees.forEach(employee=> { %>
          <tr id="<%= employee.id %>">
            <td>
              <span>
                <%= employee.created_at %>
              </span>
              <span class="time">
                <%= employee.current_time %>
              </span>
            </td>
            <td>
              <%= employee.profile_type %>
            </td>
            <td>
              <%= employee.first_name %> <%= employee.last_name %> 
            </td>
            <td>
              <%= employee.phone_number %>
            </td>
            <td>
              <%= employee.email %>
            </td>
            <td>
              <%= employee.branch_name %>
            </td>
            <td>
              <div class="inline-wrapper">
                <div id="worded-status" class="active">
                  <% if (employee.enabled) { %>
                  مفعل
                  <% } else {%>
                  غير مفعل
                  <% } %>

                </div>

                <input type="checkbox" id="switch-<%= employee.id %>" <% if (employee.enabled) { %> checked <%
                              } %> /><label for="switch-<%= employee.id %>">Toggle</label>
              </div>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <div class="notification-wrapper hide-dev">
        <div class="notification-message">
          <div class="message">
            <img src="/public/shared/img/right-icon.svg" />
            <div class="title">تم إيقاف تفعيل الموظف</div>
          </div>
          <img src="/public/shared/img/close-icon.svg" class="close-popup" onclick="hidePopup()" />
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="paginator">
        <% let startRecord=(pageSelected - 1) * perPage + 1; %>
        <% let endRecord=Math.min(pageSelected * perPage, totalCount); %>
        <div class="pagination-number">إظهار رقم <%= startRecord %> إلى <%= endRecord %> من <%= totalCount
                              %> نتيجة.</div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% if(pageSelected !=1) { %>
            <li class="page-item">
              <a class="page-link" href="<%= getEmployeesUrl %>?page=<%= pageSelected - 1 %>&per_page=<%= perPage %>"
                aria-label="Next Page">
                <img src="/public/shared/img/arrow.svg" alt="arrow">
              </a>
            </li>
            <% }else { %>
            <li class="page-item">
              <a class="page-link disabled-arrow"
                href="<%= getEmployeesUrl %>?page=<%= pageSelected - 1 %>&per_page=<%= perPage %>"
                aria-label="Next Page">
                <img src="/public/shared/img/arrow.svg" alt="arrow">
              </a>
            </li>
            <% } %>
            <% const numberOfPages=Math.ceil(totalCount / perPage); for(let i=1; i <=numberOfPages;
                                  i++) { %>
            <li class="page-item"><a class="page-link" id="item<%= i %>"
                href="<%= getEmployeesUrl %>?page=<%= i %>&per_page=<%= perPage %>">
                <%= i %>
              </a></li>
            <% } %>
            <% if(pageSelected < numberOfPages) { %>
            <li class="page-item">
              <a class="page-link invert"
                href="<%= getEmployeesUrl %>?page=<%= pageSelected + 1 %>&per_page=<%= perPage %>"
                aria-label="Next Page">
                <img src="/public/shared/img/arrow.svg" alt="arrow">

              </a>
            </li>
            <% } else {%>
            <li class="page-item">
              <a class="page-link disabled-arrow invert"
                href="<%= getEmployeesUrl %>?page=<%= pageSelected + 1 %>&per_page=<%= perPage %>"
                aria-label="Next Page">
                <img src="/public/shared/img/arrow.svg" alt="arrow">

              </a>
            </li>
            <% } %>

          </ul>
        </nav>
      </div>
    </div>
  </div>
  <% } %>

  <% if (!employees || employees.length==0) { %>
  <div class="row">
    <div class="col-12">
      <div class="empty-message">
        <img src="/public/shared/img/Base-icons.svg" />
        <div class="title">لا يوجد موظفين في القائمة</div>
        <p class="subtitle">قم بإضافة موظفين هنا للبدء مع مايلو!</p>
        <button class="primary-black-btn btn" id="add-employee-main" onclick="showEmployeeForm()">إضافة
         موظف</button>
      </div>
    </div>
  </div>
  <% } %>

</div>
</div>
<% if (showPopup) { %>
<div class="overlay show">
  <div class="hidden-form show" style="overflow: scroll;">
    <% } else { %>
    <div class="overlay">
       <div class="hidden-form" style="overflow: scroll;">
        <% } %>
        <div class="row">
          <div class="col-12">
            <div class="close-btn">
              <img src="/public/shared/img/close-gray-bg.svg" alt="close" onclick="hideEmployeeForm(event)" />
            </div>
          </div>
          <div class="col-12">
            <div class="form-info">
              <img src="/public/shared/img/add-user.svg" />
              <div class="title">اضف موظف جديد</div>
              <div class="subtitle">يرجى ملء البيانات المطلوبة للإضافة.</div>
            </div>
          </div>
          <div class="col-12">
            <form class="add-user" method="POST" action="/private/partner/employee/add">
              <div class="form-group">
                <label>دور الموظف:</label>
                <div class="d-flex align-items-center fs-4">
                  <% employeeRoles.forEach(role=> { %>
                    <div class="mr-3">
                    <input type="radio" class="form-group" name="employee_role" id="<%= role.value %>" value="<%= role.value %>"  />
                    <label for="branch_manager"><%= role.name %></label>
                  </div>
                  <% }); %>
                </div>
                 <div class="error-msg">
                  <%=errors.employee_role?.msg%>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="الاسم الاول" />
                <% if(errors && errors.first_name){ %>
                <div class="error-msg">
                  <%=errors.first_name?.msg%>
                </div>
                <% } %>
              </div>
              <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control" placeholder="الاسم الاخير" />
                <% if(errors && errors.last_name){ %>
                <div class="error-msg">
                  <%=errors.last_name?.msg%>
                </div>
                <% } %>
              </div>
              <div class="form-group">
                <input type="text" name="phone_number" id="phone_number" class="form-control"
                  placeholder="رقم الهاتف" />
                <% if(errors && errors.phone_number){ %>
                <div class="error-msg">
                  <%=errors.phone_number?.msg%>
                </div>
                <% } %>
              </div>
              <div class="form-group">
                <input type="text" name="email" id="email" class="form-control" placeholder="البريد الالكتروني" />
                <% if(errors && errors.email){ %>
                <div class="error-msg">
                  <%=errors.email?.msg%>
                </div>
                <% } %>
              </div>
              <div class="form-group custom-select-employee">
                <select name="brand_id" class="form-select" id="brand_id">
                  <!-- <% branches.forEach(branch=> { %>
                  <option value="<%= branch.id %>">
                    <%= branch.name %>
                  </option>
                  <% }); %> -->
                    <option value="brand.id">
                   العلامة التجارية
                  </option>
                  <span> ></span>
                </select>
              <% if(errors && errors.brand_id){ %>
                <div class="error-msg">
                  <%=errors.brand_id?.msg%>
                </div>
              <% } %>
              </div>
              <div class="form-group custom-select-employee ">
                <select name="branch_id" class="form-select" id="branch_id">
                  <% branches.forEach(branch=> { %>
                  <option value="<%= branch.id%>">
                    <%= branch.name %>
                  </option>
                  <% }); %>
                  <span> ></span>
                </select>
                <% if(errors && errors.branch_id){ %>
                <div class="error-msg">
                  <%=errors.branch_id?.msg%>
                </div>
                <% } %>
              </div>
              <% if(errors && errors.general){ %>
                <div class="error-msg">
                  <%=errors.general?.msg%>
                </div>
              <% } %>
              <button type="submit" class="btn primary-black-btn" id="add-employee">إضافة موظف</button>
              <button class="btn secondary-grey-btn" onclick="hideEmployeeForm(event)">الغاء</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  if ("<% addEmployeeFormValues %>" == '') {
    document.getElementById("first_name").value = "<%- addEmployeeFormValues.first_name %>";
    document.getElementById("last_name").value = "<%- addEmployeeFormValues.last_name %>";
    document.getElementById("phone_number").value = "<%- addEmployeeFormValues.phone_number %>";
    // Get the selected employee role and set the correct radio button
    const selectedRole = "<%- addEmployeeFormValues.employee_role %>";

    // Find the radio button by value and mark it as checked
    const roleElement = document.querySelector(`input[name="employee_role"][value="${selectedRole}"]`);
    if (roleElement) {
      roleElement.checked = true;
    }
    document.getElementById("email").value = "<%- addEmployeeFormValues.email %>";
  }
  document.addEventListener("DOMContentLoaded", () => {
    activeItem(`item<%= pageSelected %>`)
    const checkboxes = document.querySelectorAll("input[type=checkbox]");
    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", async (event) => {
        const updateStateUrl = "<%= updateStateUrl %>"
        const employeeId = event.target.id.split("switch-")[1];
        if (event.target.checked) {
          await axios.patch(updateStateUrl + "?page=<%= pageSelected %>&per_page=<%= perPage %>", {
            employeeId,
            state: "active"
          });
        } else {
          await axios.patch(updateStateUrl + "?page=<%= pageSelected %>&per_page=<%= perPage %>", {
            employeeId,
            state: "inactive"
          });
          showPopup();
        }
        updateView(event.target, event.target.checked);
      });
    });
  });

  function updateView(checkbox, isChecked) {
    const statusMessageElement = checkbox.parentElement.querySelector("#worded-status");
    if (statusMessageElement) {
      if (isChecked) {
        statusMessageElement.innerHTML = "مفعل";
      } else {
        statusMessageElement.innerHTML = "غير مفعل";
      }
    }
  }
  const hidePopup = () => {
    document.querySelector(".notification-wrapper").classList.add("hide-dev");
  };

  const showPopup = () => {
    document.querySelector(".notification-wrapper").classList.remove("hide-dev");
  };

  const showEmployeeForm = () => {
    document.querySelector(".hidden-form").classList.add("show");
    document.querySelector(".overlay").classList.add("show");
  };

  const hideEmployeeForm = (event) => {
    document.querySelector(".hidden-form").classList.remove("show");
    document.querySelector(".overlay").classList.remove("show");
    event.preventDefault()

  };

  const activeItem = (itemId) => {
    document.querySelector(".page-link").classList.remove("active")
    document.querySelector(`#${itemId}`).classList.add("active")
  }

</script>